<!DOCTYPE html>

<title>Add book</title>

<form action="/addbook" method="POST">
Title:
<p>
    <textarea name="title" rows="1" cols="50"></textarea>
</p>
Author:
<p>
    <select name="author">
        {% for author in authors %}
        <option value="{{ author[0] }}">{{ author[0] }}</option>
        {% endfor %}
    </select>
</p>
<p>
    <a href="/addauthor">Add author</a>
</p>
Year:
<p>
    <select name="year">
        {% for i in range(-2100,year_now+1) %}
        {% if 0 > i %}
        <option value={{ i }}>{{ i*(-1) }} BCE</option>
        {% else%}
        <option value={{ i }}>{{ i }}</option>
        {% endif %}
        {% endfor %}
    </select>
</p>
Description:
<p>
    <textarea name="description" rows="10" cols="50"></textarea>
</p>
Genres:
<p>
    {% for genre in genres %}
    <input type="checkbox" name="genre" value="{{ genre[0] }}" /> {{ genre[0] }}
    {% endfor %}
</p>
<p>
    <a href="/addgenre">Add genre</a>
</p>
<p>
    {{ error }}
</p>
<input type="submit" value="Add book">
</form>
<p><a href="/" >Back to front page</a></p>