<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
    <title>Add book</title>
</head>

<body>

    <h1>Book club</h1>

    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/search">Search books</a></li>
            {% if session.user_id %}
                <li><a href="/profile" >Your profile</a></li>
                <li><a href="/logout">Log out</a></li>
            {% else %}
                <li><a href="/login" >Log in</a></li>
                <li><a href="/signin" >Sign in</a></li>
            {% endif %}

            {% if session.user_role == 1 %}
                <li><a href="/addbook">Add book</a></li>
                <li><a href="/addauthor">Add author</a></li>
                <li><a href="/addgenre">Add genre</a></li>
                <li><a href="/users">Users</a></li>
            {% endif %}
        </ul>
    </nav>

    <h2>Add book</h2>

    <form action="/addbook" method="POST">
        <label for="title">Title:</label>
        <p>
            <input type="text" name="title" id="title">
        </p>
        <label for="author">Author:</label>
        <p>
            <select name="author" id="author">
                {% for author in authors %}
                    <option value="{{ author[0] }}">{{ author[0] }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <a href="/addauthor">Add author</a>
        </p>
        <label for="year">Year:</label>
        <p>
            <select name="year" id="year">
                {% for i in range(-2100,year_now+1) %}
                    {% if 0 > i %}
                        <option value={{ i }}>{{ i*(-1) }} BCE</option>
                    {% else%}
                        <option value={{ i }}>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
            <label for="description">Description:</label>
        <p>
            <textarea name="description" id="description" rows="10" cols="50"></textarea>
        </p>
        Genres:
        <p>
            {% for genre in genres %}
                <input type="checkbox" name="genre" value="{{ genre[0] }}" id="{{ genre[0] }}"/>
                <label for={{ genre[0] }}>{{ genre[0] }}</label>
            {% endfor %}
        </p>
        <p>
            <a href="/addgenre">Add genre</a>
        </p>
        <p>
            {{ error }}
        </p>
        <input type="submit" value="Add book">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

</body>

