<!DOCTYPE html>

<title>Add book</title>

<form action="/addbook" method="POST">
<label for="title">Title:</label>
<p>
    <input type="text" name="title" id="title">
</p>
<label for="author">Author:</label>
<p>
    <select name="author" id="author">
        {% for author in authors %}
        <option value="{{ author[0] }}">{{ author[0] }}</option>
        {% endfor %}
    </select>
</p>
<p>
    <a href="/addauthor">Add author</a>
</p>
<label for="year">Year:</label>
<p>
    <select name="year" id="year">
        {% for i in range(-2100,year_now+1) %}
        {% if 0 > i %}
        <option value={{ i }}>{{ i*(-1) }} BCE</option>
        {% else%}
        <option value={{ i }}>{{ i }}</option>
        {% endif %}
        {% endfor %}
    </select>
</p>
<label for="description">Description:</label>
<p>
    <textarea name="description" id="description" rows="10" cols="50"></textarea>
</p>
Genres:
<p>
    {% for genre in genres %}
    <input type="checkbox" name="genre" value="{{ genre[0] }}" id="{{ genre[0] }}"/>
    <label for={{ genre[0] }}>{{ genre[0] }}</label>
    {% endfor %}
</p>
<p>
    <a href="/addgenre">Add genre</a>
</p>
<p>
    {{ error }}
</p>
<input type="submit" value="Add book">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p><a href="/" >Back to front page</a></p>