<!DOCTYPE html>

<title>Book club</title>
<h1>Book club</h1>

{% if session.user_id %}
Hello <b>{{ session.username }}</b>!
<a href="/profile" >Your profile</a>
<a href="/logout">Log out</a>
{% else %}
<a href="/login" >Log in</a>
<a href="/signin" >Sign in</a>
{% endif %}

{% if session.user_role == 1 %}
<p>
    <a href="/addbook">Add book</a>
    <a href="/addauthor">Add author</a>
    <a href="/addgenre">Add genre</a>
</p>
{% endif %}

<ul>
    {% for book in books %}
    <p><a href="/book/{{ book[0] }}" >{{ book[1] }}</a> by {{ book[2] }}</p>
    {% endfor %}
</ul>
