<!DOCTYPE html>

<title>Sign in</title>

<h2>Sign in</h2>

<form action="/signin" method="POST">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </p>
    <p>
        <label for="password_again">Password again:</label>
        <input type="password" name="password_again" id="password_again">
    </p>
    <p>
        {{ error }}
    </p>
    <input type="submit" value="Sign in">
</form>

If you already have an account, log in <a href="/login" >here</a>!
<p><a href="/" >Back to front page</a></p>